.vscode/

build/
extract/*
/m2ctx

*bios.bin

fe11_*/
*.nds
*.sav
*.xMAP

# Objdiff
objdiff.json
report.json
/objdiff-cli
/objdiff-cli.exe
objdiff*

/dsd
/dsd.exe

build.ninja
.ninja_log*
.ninja_lock
.ninja_deps

/wibo

__pycache__/
tools/mwccarm/

# Clang
.cache/
compile_commands.json
